<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header"> Forms </h1>

            <div class="col-md-6">
                <form ng-submit="userForm.submit()">
                    <div data-formly-form data-model="userForm.model" data-fields="userForm.fields">
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </form>
            </div>

            <div class="col-md-12">
                <br>
                <pre>{{ userForm.result | json }}</pre>
            </div>

        </div>
    </div>
</div>

