<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header"> Forms </h1>

            <div class="col-md-6">
                <form ng-submit="vm.onSubmit()">
                    <div data-formly-form model="userForm.model" fields="userForm.fields">
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </form>
            </div>

            <div class="col-md-12">
                <br/>
                 <pre>
                    {{ user }}
                </pre>
            </div>

        </div>
    </div>


</div>

